USE [master]
GO
/****** Object:  Database [QuanLyRapPhim]    Script Date: 12/10/2019 3:54:03 AM ******/
CREATE DATABASE [QuanLyRapPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyRapPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyRapPhim.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyRapPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyRapPhim_log.ldf' , SIZE = 11200KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyRapPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyRapPhim]
GO
/****** Object:  UserDefinedFunction [dbo].[TinhDoanhThuTheoPhim]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[TinhDoanhThuTheoPhim](@Ngay Date=null,@MaChiNhanh nvarchar(50),@MaPhim nvarchar(50)= Null)
returns float
as
begin
	if @Ngay is not null
		begin
				return(select SUM(e.Gia) as DoanhThu
			from
			(select MaPhim,TenPhim,MaNV,Ngay,Gia
			from
			(select a.MaPhim,b.TenPhim,a.MaSC
			from SuatChieuPhim as a inner join phim as b on a.MaPhim = b.MaPhim) as c inner join DatVe as d on c.MaSC=d.MaSC) as e inner join NhanVien as f on e.MaNV = f.MaNV
			where Ngay=@Ngay and f.MaChiNhanh=@MaChiNhanh and e.MaPhim=@MaPhim)
		end
			return(select SUM(e.Gia)
			from
			(select MaPhim,TenPhim,MaNV,Ngay,Gia
			from
			(select a.MaPhim,b.TenPhim,a.MaSC
			from SuatChieuPhim as a inner join phim as b on a.MaPhim = b.MaPhim) as c inner join DatVe as d on c.MaSC=d.MaSC) as e inner join NhanVien as f on e.MaNV = f.MaNV
			where f.MaChiNhanh=@MaChiNhanh and e.MaPhim=@MaPhim)
end;

GO
/****** Object:  UserDefinedFunction [dbo].[TinhDoanhThuTrongNgay]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[TinhDoanhThuTrongNgay](@Ngay Date,@MaChiNhanh nvarchar(50))
returns float
as
begin
	return (select Sum(Gia)
	from DatVe inner join NhanVien on DatVe.MaNV=NhanVien.MaNV
	where Ngay= @Ngay and NhanVien.MaChiNhanh=@MaChiNhanh)
end;

GO
/****** Object:  UserDefinedFunction [dbo].[TinhLuongNV]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[TinhLuongNV](
@luong float,
@giolam int)
returns float
as
begin
	return (@luong*@giolam)
end;
GO
/****** Object:  UserDefinedFunction [dbo].[TinhTienVe]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[TinhTienVe](@TienMacDinh float,@KhuyenMai float=0)
returns float
as
begin
	return (@TienMacDinh*((100-@KhuyenMai)/100))
end

GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MaChiNhanh] [nvarchar](50) NOT NULL,
	[TenChiNanh] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiNhanhDeletedTable]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanhDeletedTable](
	[MaChiNhanh] [nvarchar](50) NULL,
	[TenChiNhanh] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[Luong] [int] NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[MaNV] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](256) NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DatVe]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatVe](
	[MaVe] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[Day] [nvarchar](50) NOT NULL,
	[So] [int] NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[MaSC] [nvarchar](50) NULL,
	[GioKetThuc] [time](7) NULL,
	[Gia] [float] NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_DatVe] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[MaHSX] [nvarchar](50) NOT NULL,
	[TenHSX] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](20) NOT NULL,
	[MaHD] [nvarchar](50) NULL,
 CONSTRAINT [PK_HangSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[HovaLotKH] [nchar](50) NOT NULL,
	[TenKH] [nchar](10) NOT NULL,
	[NgaySinh] [date] NULL,
	[TichDiem] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[HovaLotNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[MaCV] [nvarchar](50) NULL,
	[SoGioLam] [int] NULL,
	[MaNQL] [nvarchar](50) NULL,
	[MaChiNhanh] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien_1] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nhanvien_History]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien_History](
	[MaNV] [nvarchar](50) NULL,
	[TimeDeleted] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phim]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[TenPhim] [nvarchar](50) NOT NULL,
	[MaPhim] [nvarchar](50) NOT NULL,
	[GiaVe] [int] NOT NULL,
	[Poster] [image] NULL,
	[ThoiLuong] [float] NULL,
 CONSTRAINT [PK_Phim] PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhimHopDong]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhimHopDong](
	[MaHD] [nvarchar](50) NOT NULL,
	[DaoDien] [nvarchar](20) NOT NULL,
	[GiaTriHD] [int] NOT NULL,
	[NgayXuatBan] [date] NOT NULL,
	[NgayKyHopDong] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
	[MaPhim] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhimHopDong] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhimHopDong_History]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhimHopDong_History](
	[MaHD] [nvarchar](50) NULL,
	[DaoDien] [nvarchar](20) NULL,
	[GiaTriHD] [int] NULL,
	[MaPhim] [nvarchar](50) NULL,
	[TimeDelete] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rap]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rap](
	[MaRap] [nvarchar](50) NOT NULL,
	[SoDayGhe] [nvarchar](50) NOT NULL,
	[SoLuongGhe] [nvarchar](50) NOT NULL,
	[LoaiPhim] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rap] PRIMARY KEY CLUSTERED 
(
	[MaRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SuatChieuPhim]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieuPhim](
	[MaPhim] [nvarchar](50) NOT NULL,
	[GioChieu] [nvarchar](50) NULL,
	[MaRap] [nvarchar](50) NULL,
	[MaSC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SuatChieuPhim] PRIMARY KEY CLUSTERED 
(
	[MaSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[ThongTinVe]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ThongTinVe]
as
	select MaVe,MaKH,TenPhim,ThoiLuong,GioChieu,GioKetThuc,Ngay,Day,So,MaRap,Gia,b.MaSC
	from DatVe as a,SuatChieuPhim as b,Phim as c
	where b.MaPhim=c.MaPhim and b.MaSC=a.MaSC

GO
/****** Object:  UserDefinedFunction [dbo].[LayViewDatVe]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[LayViewDatVe](@MaKH nvarchar(50),@MaSC nvarchar(50))
returns table 
as
	return (select *
	from dbo.ThongTinVe where MaKH=@MaKH and MaSC=@MaSC)

GO
/****** Object:  UserDefinedFunction [dbo].[PhimSearch]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[PhimSearch](@tenphim nvarchar(50))  
RETURNS  TABLE
 RETURN
    SELECT *
    FROM Phim 
    WHERE TenPhim  LIKE '%'+@tenphim+'%';
GO
/****** Object:  View [dbo].[NhanVienView]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[NhanVienView]
as
select HovaLotNV,TenNV,MaCV,SoGioLam,MaNQL,MaChiNhanh
from NhanVien
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [DatVePhim]    Script Date: 12/10/2019 3:54:03 AM ******/
CREATE NONCLUSTERED INDEX [DatVePhim] ON [dbo].[DatVe]
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [MaKhachHang]    Script Date: 12/10/2019 3:54:03 AM ******/
CREATE NONCLUSTERED INDEX [MaKhachHang] ON [dbo].[KhachHang]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [index_nct_NhanVien]    Script Date: 12/10/2019 3:54:03 AM ******/
CREATE NONCLUSTERED INDEX [index_nct_NhanVien] ON [dbo].[NhanVien]
(
	[MaNV] ASC,
	[TenNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [MaNhanVien]    Script Date: 12/10/2019 3:54:03 AM ******/
CREATE NONCLUSTERED INDEX [MaNhanVien] ON [dbo].[NhanVien]
(
	[TenNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [load_TenPhim]    Script Date: 12/10/2019 3:54:03 AM ******/
CREATE NONCLUSTERED INDEX [load_TenPhim] ON [dbo].[Phim]
(
	[TenPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [MaPhimHopDong]    Script Date: 12/10/2019 3:54:03 AM ******/
CREATE NONCLUSTERED INDEX [MaPhimHopDong] ON [dbo].[PhimHopDong]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangNhap]  WITH CHECK ADD  CONSTRAINT [FK_DangNhap_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DangNhap] CHECK CONSTRAINT [FK_DangNhap_NhanVien]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_KhachHang]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_NhanVien]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_SuatChieuPhim] FOREIGN KEY([MaSC])
REFERENCES [dbo].[SuatChieuPhim] ([MaSC])
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_SuatChieuPhim]
GO
ALTER TABLE [dbo].[HangSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_HangSanXuat_PhimHopDong1] FOREIGN KEY([MaHD])
REFERENCES [dbo].[PhimHopDong] ([MaHD])
GO
ALTER TABLE [dbo].[HangSanXuat] CHECK CONSTRAINT [FK_HangSanXuat_PhimHopDong1]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_NhanVien] FOREIGN KEY([MaNQL])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_NhanVien]
GO
ALTER TABLE [dbo].[PhimHopDong]  WITH CHECK ADD  CONSTRAINT [FK_PhimHopDong_Phim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
GO
ALTER TABLE [dbo].[PhimHopDong] CHECK CONSTRAINT [FK_PhimHopDong_Phim]
GO
ALTER TABLE [dbo].[SuatChieuPhim]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieuPhim_Phim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
GO
ALTER TABLE [dbo].[SuatChieuPhim] CHECK CONSTRAINT [FK_SuatChieuPhim_Phim]
GO
ALTER TABLE [dbo].[SuatChieuPhim]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieuPhim_Rap] FOREIGN KEY([MaRap])
REFERENCES [dbo].[Rap] ([MaRap])
GO
ALTER TABLE [dbo].[SuatChieuPhim] CHECK CONSTRAINT [FK_SuatChieuPhim_Rap]
GO
/****** Object:  StoredProcedure [dbo].[add_auto_Values]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[add_auto_Values]
as
begin 
declare @dem int =0;
declare @alphabet  nvarchar(20)='ABCDEFGHIJKLMNOPQRSTUVWXYZ' ;
declare @tenhsx nvarchar(20) ;
declare @email nvarchar(20) ;
declare @diachi nvarchar(20) ;
declare @mahsx nvarchar(50) ;
declare @temp nvarchar(50) ;	
	while(@dem<20000)
	begin
	select @temp=
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1);
	set @tenhsx=@temp;
	set @email=@temp;
	set @diachi=@temp;
	set @mahsx=@dem;
	insert into HangSanXuat(MaHSX,TenHSX,Email,DiaChi)
	values(cast(@mahsx as nvarchar),cast(@tenhsx as nvarchar),cast(@email as nvarchar),cast(@diachi as nvarchar))
	set @dem=@dem+1;
	end;
end

delete HangSanXuat
GO
/****** Object:  StoredProcedure [dbo].[add_auto_Values_ChiNhanh]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[add_auto_Values_ChiNhanh]
as
begin 
declare @dem int =0;
declare @alphabet  nvarchar(20)='ABCDEFGHIJKLMNOPQRSTUVWXYZ' ;
declare @tenchinhanh nvarchar(20) ;
declare @machinhanh nvarchar(50) ;
declare @temp nvarchar(50) ;	
	while(@dem<200)
	begin
	select @temp=
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1);
	set @tenchinhanh='Sai Gon '+@temp;
	if @dem%2=1
		begin 
		set @tenchinhanh='Ha Noi '+@temp;
		end
	set @machinhanh=@dem;
	insert into ChiNhanh(MaChiNhanh,TenChiNanh)
	values(CAST(@machinhanh as int),cast(@tenchinhanh as nvarchar))
	set @dem=@dem+1;
	end;
end

exec add_auto_Values_ChiNhanh
delete ChiNhanh
GO
/****** Object:  StoredProcedure [dbo].[add_auto_Values_ChucVu]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[add_auto_Values_ChucVu]
as
begin 
declare @dem int =1;
declare @alphabet  nvarchar(20)='ABCDEFGHIJKLMNOPQRSTUVWXYZ' ;
declare @macv nvarchar(20) ;
declare @chucvu nvarchar(50) ;

declare @temp nvarchar(50) ;	
	while(@dem<=3)
	begin
	select @temp=
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1);
	if @dem%3=1
		begin 
		set @chucvu='super admin';
		end
	else if @dem%3=2
		begin 
		set @chucvu='admin';
		end
	else
		begin
			set @chucvu='employee';
		end
	set @macv=@dem;
	insert into ChucVu(MaCV,ChucVu)
	values(CAST(@macv as int),cast(@chucvu as nvarchar))
	set @dem=@dem+1;
	end;
end

exec add_auto_Values_ChucVu
delete ChucVu
GO
/****** Object:  StoredProcedure [dbo].[add_auto_Values_DangNhap]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[add_auto_Values_DangNhap]
as
begin 
declare @dem int =1;
declare @alphabet  nvarchar(20)='ABCDEFGHIJKLMNOPQRSTUVWXYZ' ;
declare @manv nvarchar(50) ;
declare @matkhau nvarchar(50) ;
declare @temp nvarchar(50) ;	
	while(@dem<200)
	begin
	select @temp=
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1);
	set @manv=@dem;
	set @matkhau=@temp;
	insert into DangNhap(MaNV)
	select MaNV from NhanVien where NhanVien.MaNV='NV'+cast(@dem as nvarchar) OR NhanVien.MaNV='AD'+cast(@dem as nvarchar)
	
	update DangNhap set MatKhau=cast( @temp as nvarchar) where DangNhap.MaNV='NV'+cast(@dem as nvarchar)OR DangNhap.MaNV='AD'+cast(@dem as nvarchar)
	set @dem=@dem+1;
	end;
end
exec add_auto_Values_DangNhap
delete DangNhap

GO
/****** Object:  StoredProcedure [dbo].[add_auto_Values_KhachHang]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[add_auto_Values_KhachHang]
as
begin 
declare @dem int =1;
declare @alphabet  nvarchar(20)='ABCDEFGHIJKLMNOPQRSTUVWXYZ' ;
declare @makh nvarchar(50) ;
declare @hovalotkh nvarchar(50) ;
declare @tenkh nvarchar(10) ;

declare @temp nvarchar(50) ;	
	while(@dem<200)
	begin
	select @temp=
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1);
	set @makh=@dem;
	set @hovalotkh=@temp;
	set @tenkh=@temp;
	insert into KhachHang(MaKH,HovaLotKH,TenKH)
	values(CAST(@makh as nvarchar),cast(@hovalotkh as nvarchar),cast(@tenkh as nvarchar))
	set @dem=@dem+1;
	end;
end
exec add_auto_Values_KhachHang
delete KhachHang
GO
/****** Object:  StoredProcedure [dbo].[add_auto_Values_NhanVien]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[add_auto_Values_NhanVien]
as
begin 
declare @dem int =1;
declare @temp nvarchar(50) ;	
declare @alphabet  nvarchar(20)='ABCDEFGHIJKLMNOPQRSTUVWXYZ' ;
declare @hovalotnv nvarchar(50) ;
declare @tennv nvarchar(50) ;
declare @manv nvarchar(50) ;
declare @macv nvarchar(50) ;
declare @manql nvarchar(50);
declare @machinhanh nvarchar(50) ;
declare @demtemp int =1;

	while(@dem<200)
	begin
	select @temp=
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1) +
	substring(@alphabet, convert(int, rand()*26), 1);
	set @hovalotnv=@temp;
	set @tennv=@temp;
	set @manql=@temp;
	if @demtemp=3
		begin 
		set @demtemp=1;
		end
	set @manv=N'NV'+cast(@dem as nvarchar);
	insert into NhanVien(HovaLotNV,TenNV,MaNV)
	values(CAST(@hovalotnv as nvarchar),cast(@tennv as nvarchar),cast(@manv as nvarchar))
	update NhanVien set MaCV=ChucVu.MaCV from ChucVu where  NhanVien.MaNV=@manv and ChucVu.MaCV=@demtemp
	update NhanVien set NhanVien.MaChiNhanh=ChiNhanh.MaChiNhanh from ChiNhanh where ChiNhanh.MaChiNhanh=@dem and NhanVien.MaNV=@manv
	set @dem=@dem+1;
	set @demtemp=@demtemp+1;
	end;	
end;
GO
/****** Object:  StoredProcedure [dbo].[ChiNhanhInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChiNhanhInsertUpdateDelete]
(  
	@MaChiNhanh NVARCHAR(50)  null,
	@TenChiNanh nvarchar(50) NULL,
	@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
insert into ChiNhanh(MaChiNhanh,TenChiNanh) 
values(@MaChiNhanh,@TenChiNanh)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from ChiNhanh  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE ChiNhanh SET  
		TenChiNanh=@TenChiNanh
WHERE MaChiNhanh=@MaChiNhanh
		
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM ChiNhanh WHERE MaChiNhanh=@MaChiNhanh
END  
end  

GO
/****** Object:  StoredProcedure [dbo].[ChucVuInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChucVuInsertUpdateDelete]
(  
	@MaCV NVARCHAR(50)  null,
	@ChucVu nvarchar(50) NULL,
	@Luong int NULL,
	@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
INSERT into ChucVu(MaCV,ChucVu,Luong) values(@MaCV,@ChucVu,@Luong)
END  
IF @StatementType = 'Select'  
BEGIN  
select * from ChucVu  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE ChucVu SET  
		ChucVu=@ChucVu,
		Luong=@Luong
		
WHERE MaCV=@MaCV
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM ChucVu WHERE MaCV=@MaCV
END  
end  

GO
/****** Object:  StoredProcedure [dbo].[DangNhapInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DangNhapInsertUpdateDelete]  
(  
@MaNV nvarchar(50) null,
@MatKhau VARCHAR(50) null,  
@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
insert into DangNhap(MaNV,MatKhau) values( @MaNV,@MatKhau)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from DangNhap  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE DangNhap SET  
MatKhau=@MatKhau
WHERE MaNV=@MaNV 
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM DangNhap WHERE MaNV=@MaNV 
END  
end  

GO
/****** Object:  StoredProcedure [dbo].[DatVeInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DatVeInsertUpdateDelete]
(  
	@MaVe NVARCHAR(50)  null,
	@MaNV nvarchar(50) NULL,
	@MaKH nvarchar(50) NULL,
	@Day nvarchar(50)NULL,
	@Ngay date null,
	@So int NULL,
	@MaSC nvarchar(50)NULL,
	@GioKetThuc time NULL,
	@Gia float Null,
	@GhiChu nvarchar(200),
	@StatementType nvarchar(20)=''
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
INSERT into DatVe(MaVe,MaNV,MaKH,Day,Ngay,So,MaSC,GioKetThuc,Gia,GhiChu) 
values(@MaVe,@MaNV,@MaKH,@Day,@Ngay,@So,@MaSC,@GioKetThuc,@Gia,@GhiChu)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from DatVe  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE DatVe SET  
		MaNV=@MaNV,
		MaKH=@MaKH,
		Day=@Day,
		Ngay=@Ngay,
		So=@So,
		MaSC=@MaSC,
		GioKetThuc=@GioKetThuc,
		Gia=@Gia,
		GhiChu=@GhiChu
WHERE MaVe=@MaVe
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM DatVe WHERE MaVe=@MaVe
END  
end  
GO
/****** Object:  StoredProcedure [dbo].[HangSanXuatInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HangSanXuatInsertUpdateDelete]
(  
@MaHSX nvarchar(50) null,
@TenHSX nvarchar(20) null, 
@Email nvarchar(20) null, 
@DiaChi nvarchar(20) null,
@MaHD nvarchar(50) null,
@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
insert into HangSanXuat(MaHSX,TenHSX,Email,DiaChi,MaHD) 
values(@MaHSX,@TenHSX,@Email,@DiaChi,@MaHD)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from HangSanXuat  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE HangSanXuat SET  
		TenHSX=@TenHSX,
		Email=@Email,
		DiaChi=@DiaChi,
		MaHD=@MaHD
WHERE MaHSX=@MaHSX
		
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM HangSanXuat WHERE MaHSX=@MaHSX
END  
end  

GO
/****** Object:  StoredProcedure [dbo].[hash_Passwords]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[hash_Passwords]
( 
		@state nvarchar(50) ='',
		@manv  nvarchar(50) null
)
as
begin
 if @state='hash'
	begin
	update  DangNhap set MatKhau= ENCRYPTBYPASSPHRASE('dataencypted', MatKhau)
	where  MaNV=@manv;
	end
else
	begin
	update  DangNhap set MatKhau = DECRYPTBYPASSPHRASE('dataencypted', MatKhau)
	where  MaNV=@manv;
	end
end;
GO
/****** Object:  StoredProcedure [dbo].[KhachHangInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KhachHangInsertUpdateDelete]
(  
	@MaKH NVARCHAR(50)  null,
	@HovaLotKH nchar(50) NULL,
	@TenKH nchar(10) NULL,
	@NgaySinh date NULL,
	@TichDiem int NULL,
	@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
INSERT into KhachHang(MaKH,HovaLotKH,TenKH,NgaySinh,TichDiem) 
values(@MaKH,@HovaLotKH,@TenKH,@NgaySinh,@TichDiem)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from KhachHang  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE KhachHang SET  
		HovaLotKH=@HovaLotKH,
		TenKH=@TenKH,
		NgaySinh=@NgaySinh,
		TichDiem=@TichDiem
WHERE MaKH=@MaKH
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM KhachHang WHERE MaKH=@MaKH
END  
end  

GO
/****** Object:  StoredProcedure [dbo].[NhanVienInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NhanVienInsertUpdateDelete]
(  
	@HovaLotNV NVARCHAR(50)  null,
	@TenNV nvarchar(50) NULL,
	@MaNV nvarchar(50) NULL,
	@MaCV nvarchar(50)NULL,
	@SoGioLam int NULL,
	@MaNQL nvarchar(50)NULL,
	@MaChiNhanh nvarchar(50)NULL,
	@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
insert into NhanVien(HovaLotNV,TenNV,MaNV,MaCV,SoGioLam,MaNQL,MaChiNhanh) 
values(@HovaLotNV,@TenNV,@MaNV,@MaCV,@SoGioLam,@MaNQL,@MaChiNhanh)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from NhanVien  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE NhanVien SET  
		HovaLotNV=@HovaLotNV,
		TenNV=@TenNV,
		MaNV=@MaNV,
		MaCV=@MaCV,
		SoGioLam=@SoGioLam,
		MaNQL=@MaNQL,
		MaChiNhanh=@MaChiNhanh
WHERE MaNV=@MaNV
		
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM NhanVien WHERE MaNV=@MaNV
END  
end  

GO
/****** Object:  StoredProcedure [dbo].[PhimHopDongInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[PhimHopDongInsertUpdateDelete]
(  
@MaHD nvarchar(50) null,
@DaoDien nvarchar(20) null,  
@GiaTriHD int null,
@NgayXuatBan date null,
@NgayKyHopDong date null,
@NgayHetHan date null,
@MaPhim nvarchar(50) null,
@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
insert into PhimHopDong(MaHD,DaoDien,GiaTriHD,NgayXuatBan,NgayKyHopDong,NgayHetHan,MaPhim) 
values( @MaHD,@DaoDien,@GiaTriHD,@NgayXuatBan,@NgayKyHopDong,@NgayHetHan,@MaPhim)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from PhimHopDong  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE PhimHopDong SET  
		
		DaoDien=@DaoDien,
		GiaTriHD=@GiaTriHD,
		NgayXuatBan=@NgayXuatBan,
		NgayKyHopDong=@NgayKyHopDong,
		NgayHetHan=@NgayHetHan,
		MaPhim=@MaPhim
WHERE MaHD=@MaHD
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM PhimHopDong WHERE MaHD=@MaHD
END  
end  

GO
/****** Object:  StoredProcedure [dbo].[PhimInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PhimInsertUpdateDelete]
(  
@TenPhim nvarchar(50) null,
@MaPhim nvarchar(50) null,  
@GiaVe int null,
@Poster image null ,
@ThoiLuong float null,
@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
insert into Phim(TenPhim,MaPhim,GiaVe,Poster,ThoiLuong) 
values(@TenPhim,@MaPhim,@GiaVe,@Poster,@ThoiLuong)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from Phim  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE Phim SET  
		TenPhim=@TenPhim,
		MaPhim=@MaPhim,
		GiaVe=@GiaVe,
		Poster=@Poster,
		ThoiLuong=@ThoiLuong
WHERE MaPhim=@MaPhim
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM PhimHopDong WHERE MaPhim=@MaPhim
END  
end  

GO
/****** Object:  StoredProcedure [dbo].[RapInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RapInsertUpdateDelete]
(  
	@MaRap NVARCHAR(50)  null,
	@SoDayGhe nvarchar(50) NULL,
	@SoLuongGhe nvarchar(50) NULL,
	@LoaiPhim nvarchar(50) NULL,
@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
insert into Rap(MaRap,SoDayGhe,SoLuongGhe,LoaiPhim) 
values(@MaRap,@SoDayGhe,@SoLuongGhe,@LoaiPhim)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from Rap  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE Rap SET  
		SoDayGhe=@SoDayGhe,
		SoLuongGhe=@SoLuongGhe,
		LoaiPhim=@LoaiPhim
WHERE MaRap=@MaRap
		
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM Rap WHERE MaRap=@MaRap
END  
end  

GO
/****** Object:  StoredProcedure [dbo].[SuatChieuPhimInsertUpdateDelete]    Script Date: 12/10/2019 3:54:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuatChieuPhimInsertUpdateDelete]
(  
	@MaPhim NVARCHAR(50)  null,
	@GioChieu nvarchar(50) NULL,
	@MaRap nvarchar(50) NULL,
	@MaSC nvarchar(50) NULL,
@StatementType nvarchar(20)=''  
)  
AS  
BEGIN  
IF @StatementType = 'Insert'  
BEGIN  
insert into SuatChieuPhim(MaPhim,GioChieu,MaRap,MaSC) 
values(@MaPhim,@GioChieu,@MaRap,@MaSC)  
END  
IF @StatementType = 'Select'  
BEGIN  
select * from SuatChieuPhim  
END  
IF @StatementType = 'Update'  
BEGIN  
UPDATE SuatChieuPhim SET  
		MaPhim=@MaPhim,
		GioChieu=@GioChieu,
		MaRap=@MaRap
WHERE MaSC=@MaSC
		
END  
else IF @StatementType = 'Delete'  
BEGIN  
DELETE FROM SuatChieuPhim WHERE MaSC=@MaSC
END  
end  

GO
USE [master]
GO
